.App {
  text-align: center;
  color: rgb(10, 10, 14);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  background-image: linear-gradient(to right, #ebebeb00 , #e8e8e865, #ffffff);
  text-decoration: none;
  display:flex;
  justify-content: space-between;
  color: rgb(8, 8, 8);
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 1px 1px 6px black;
  font-size: 18px;
  height: 70px;
}

h1{
  font-family: 'Raleway','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.any-text{
  font-size:x-large;
}

main{
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.main-center{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#welcome{
  margin: 0 1vh 0 1vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  font-family: 'Raleway', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#quote{
  width: 50%;
  border: 1px solid rgba(139, 139, 139);
  margin-top: 11%;
  padding: 40px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 1px 2px 6px rgb(182, 182, 183);
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

li.nav-links{
  display:flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 120%;
  font-family: 'Raleway', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-links:hover {
  background-color: rgb(225, 228, 230);
}

#left-nav{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav-right{
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.search{
  height: 30px;
  width: 200px;
  font-family: 'Raleway', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  box-shadow: 1px 1px 8px 2px #334a5249;
  border: 0 solid #334A52;
  transition: all 0.4s ease;}

  .search:focus{
    outline: none;
  }

.each-card-top{
  flex: 0 0 100%;
  flex-direction: column;
  align-items: flex-end;
  max-width: 15%;
  min-width: 270px;
  height: 270px;
  margin-bottom: 3%;
  border: 2px solid rgb(117, 114, 114);
  margin: 15px;
  background-size: 93%;
  background-position: 50% 15%;
  background-repeat: no-repeat;
  vertical-align:text-bottom;
  box-shadow: 2px 2px 5px grey;
  border-radius: 4px 4px 0 0;
  transition: 0.3s;
  background-color: #ffffff;
}


.each-card-top:hover{
  box-shadow: 2px 2px 5px #96AFB8;
  background-color: rgba(150, 175, 184, 0.297);
}

.mntn-name{
  color: #00A7DD;
  padding-top: 73%;
  font-size: larger;
}

.each-card{
  flex: 0 0 33.333333%;
  max-width: 15%;
  min-width: 15vh;
  height: 200px;
  margin-bottom: 3%;
  border: 1px solid black;
}

.mountain-pic{
  padding-top: 10px;
  width: 25vh;
  /* height: 21vh; */
}

.countries-main{
  margin-top: 4%;
}

.each-card.country{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid rgb(88, 86, 86);
  border-radius: 4px;
  box-shadow: 1px 1px 5px grey;
  font-family: 'Eczar', serif;
  font-size: x-large;
  background-size:cover;
  background-position: 50%;
}

.flag-text{
  background-color: rgba(255, 255, 255, 1);
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 3px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.flag-text:hover{
  background-color: rgb(39, 38, 38);
  color: #ffffff;
}

.p-flag{
  padding: 0;
  margin: 0;
}

.country-dets-img{
  height: 150px;
  border: 2px solid black;

}

.cloud-pic {
  height: 200px;
}

.mountain-dets{
  text-align: center;
}

.prof-dets{
  margin-top: 5px;
}

.all-users-main{
  height: 100vh;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fjooinn.com%2Fimages%2Ftwo-man-hiking-on-snow-mountain.jpg&f=1&nofb=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frame{
  border-radius: 5px;
  padding: 1%;
  background-color: #f6f8f971;
  text-align: center;
}

.user-card{
  flex: 0 0 100%;
  max-width: 40%;
  min-width: 20vh;
  margin-left: 15px;
  height: 30vh;
  max-height: 300px;
  margin-bottom: 3%;
  border: 1px solid black;
  box-shadow: 1px 2px 6px black;
  border-radius: 5px;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcache.desktopnexus.com%2Fthumbseg%2F2294%2F2294740-bigthumbnail.jpg');
}

.profile-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.profile-card-text{
  color:#ffffff;
  text-shadow: 2px 3px 4px black;
}


.profile-card-text:hover{
  color: #61dafb;
}

.any-p-tag{
  font-size: x-large;
}

.change-pass{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 30px;
  width: 100%;
}

#passw{
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(223, 129, 41);
}

#passw:hover{
  background-color: rgb(223, 129, 41);
  color: #ffffff;

}

.create-mtn-btn{
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(49, 129, 79);
  background-color: #ffffffdb;
  margin-bottom: 30px;
}

.create-mtn-btn:hover{
  background-color: rgb(49, 129, 79);
  color: #ffffff;
  pointer-events: fill;
}




@media only screen and (max-width: 1200px)  {
  #jam-logo{
    display: none;
  }
}
