.App {
  text-align: center;
  color: rgb(10, 10, 14);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
  text-decoration: none;
  display:flex;
  justify-content: space-between;
  color: rgb(8, 8, 8);
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 1px 1px 6px black;
  font-size: 18px;
}

main{
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-center{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#welcome{
  margin: 0 1vh 0 1vh;
}


header{
  
}

li{
  height: 5%;
}

ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}

#quote{
  width: 50%;
  border: 1px solid rgba(139, 139, 139);
  margin-top: 7%;
  padding: 40px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 1px 2px 6px rgb(182, 182, 183);
}

a{
  margin-right: 15px;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover{
  text-shadow: 1px 1px 3px rgb(70, 182, 197);
  color:rgb(0, 0, 0);
}


#left-nav{
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.each-card{
  flex: 0 0 33.333333%;
  max-width: 15%;
  min-width: 15vh;
  height: 200px;
  margin-bottom: 3%;
  border: 1px solid black;
  background-image:url('https://picsum.photos/id/1018/320/200');
  /* margin-left: 15px; */
  
}

.each-card.country{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid rgb(88, 86, 86);
  border-radius: 4px;
  box-shadow: 1px 1px 5px grey;
  font-family: 'Eczar', serif;
  font-size: x-large;
  background-size:cover;
  background-position: 50%;
}

.flag-text{
  background-color: rgba(255, 255, 255, 1);
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 3px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.flag-text:hover{
  background-color: rgb(39, 38, 38);
  color: #ffffff;
}

.p-flag{
  padding: 0;
  margin: 0;
}

.country-dets-img{
  height: 150px;
  border: 2px solid black;
}

.mountain-dets{
  text-align: center;
  
}

.user-card{
  flex: 0 0 33.333333%;
  max-width: 40%;
  min-width: 20vh;
  margin-left: 15px;
  height: 30vh;
  max-height: 300px;
  margin-bottom: 3%;
  border: 1px solid black;
  box-shadow: 1px 2px 6px black;
  border-radius: 5px;
}

.profile-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}




@media only screen and (max-width: 1200px)  {
  #jam-logo{
    display: none;
  }
}
