.App {
  text-align: center;
  color: rgb(10, 10, 14);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar{
  background-color: #ffffff;
  text-decoration: none;
  display:flex;
  justify-content: space-between;
  color: rgb(8, 8, 8);
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 1px 1px 6px black;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-center{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#welcome{
  margin-left: 1%;
}
header{
  
}

li{
  height: 5%;
}

ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}

#quote{
  width: 50%;
  border: 1px solid grey;
  padding: 40px;
  border-radius: 5px;
  background-color: #c5eefa;
}

a{
  margin-right: 15px;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#left-nav{
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}
@media only screen and (max-width: 768px)  {

}
